<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'CONSO_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date"></ion-datetime>
  </ion-item>

  <h3>Mon inventaire</h3>
  <div class="page-conso__inventory">
    <div class="page-conso__inventory__item" *ngFor="let item of inventory; let i = index" (click)="eatItem(i)">
      <div class="page-conso__inventory__item__count">{{item.count}}</div>
      <img class="page-conso__inventory__item__img" src="https://www.auchandrive.fr/drive/static-media/front/pictures/product/zoom/{{item.cug}}.jpg">
      <div>{{item.name}}</div>
      <div>{{item.cal}} KCal</div>
    </div>
  </div>

  <h3>Ce que j'ai mangé</h3>
  <div class="page-conso__inventory">
    <div class="page-conso__inventory__item" *ngFor="let item of itemsEat" >
      <img class="page-conso__inventory__item__img" src="https://www.auchandrive.fr/drive/static-media/front/pictures/product/zoom/{{item.cug}}.jpg">
      <div>{{item.name}}</div>
      <div>{{item.cal}} KCal</div>
    </div>
  </div>

  <div class="page-conso__cal">
    Calories cumulées : {{TotalKCalDay}}
  </div>
</ion-content>
