page-signup {

}
.form-title .label {
  font-size: 18px
}

.sign--up {
  background: url('../assets/img/pots.jpg') no-repeat transparent;

  .item {
    background-color: rgba(247, 247, 247, 0.74)!important;
  }
}
